@charset "UTF-8";
#calendarView .ui-widget.ui-widget-content {
    border: 1px solid #c5c5c5;
    width: 530px;
    margin: 5px;
    height: 295px;
}

#calendarView .ui-datepicker select.ui-datepicker-month, 
#calendarView .ui-datepicker select.ui-datepicker-year {
    width: 20%;
}

#calendarView .ui-datepicker .ui-datepicker-title select {
    font-size: 1.2em;
    padding: 2px;
}

#calendarView .ui-datepicker table {
    width: 100%;
    font-size: 1.2em;
    border-collapse: collapse;
    margin: 0 0 .4em;
}

#calendarView .ui-state-default, 
#calendarView .ui-widget-content .ui-state-default, 
#calendarView .ui-widget-header .ui-state-default, 
#calendarView .ui-button, 
#calendarView .ui-button.ui-state-disabled:hover, 
#calendarView .ui-button.ui-state-disabled:active {
    border: 1px solid #c5c5c5;
    background: #f6f6f6;
    font-weight: normal;
    color: #454545;
    height: 35px;
}


#calendarView .ui-state-active,
#calendarView .ui-widget-content .ui-state-active,
#calendarView .ui-widget-header .ui-state-active,
#calendarView a.ui-button:active,
#calendarView .ui-button:active,
#calendarView .ui-button.ui-state-active:hover {
	border: 1px solid #003eff;
	background: #007fff;
	font-weight: normal;
	color: #ffffff;
}

#calendarView .ui-state-highlight,
#calendarView .ui-widget-content .ui-state-highlight,
#calendarView .ui-widget-header .ui-state-highlight {
	border: 1px solid #dad55e;
	background: #fffa90;
	color: #777620;
}

