@charset "utf-8";
/* CSS Document */



/* table */

/*목록 테이블*/
.tbl_type01 {width:100%; border:0px;}
.tbl_type01 td{text-align:center; border:0px solid #b1b1b1;}

.tbl_type02 {width:100%;}
.tbl_type02 td{ text-align:left; border:0px solid #000;}

.tbl_type03 {width:100%;background-color:#fff; border-top:1px solid #b1b1b1; }
.tbl_type03 caption{display:none}
.tbl_type03 th{text-align:left; padding:4px 0 4px 15px;border-bottom:1px solid #b1b1b1; border-left:1px solid #b1b1b1; border-right:1px solid #b1b1b1;background-color:#f8f8f8; color:#636363;font-weight:bold}
.tbl_type03 td{text-align:left; padding:4px 0 4px 10px;border-bottom:1px solid #b1b1b1;background-color:#fff;color:#4c4c4c}


.tbl_type41 {width:100%; border:0px; margin-top:5px;}
.tbl_type41 th{ text-align:center; padding:12px 0px 6px 0px; border-top:2px solid #e11e22; border-bottom:1px solid #b7b7b7; border-left: 1px solid #ffffff; background-color:#e8e8e8; color:#4c4c4c;font-weight: normal}
.tbl_type41 td{text-align:center; padding:0px 5px 0px 5px; color:#000; height:100px; border-left: 1px solid #ebebeb; border-bottom:1px solid #ebebeb; background-color:#fff;color:#4c4c4c}

.tbl_type42 {width:100%; border:0px; margin-top:5px;}
.tbl_type42 th{ text-align:center; padding:12px 0px 6px 0px; border-top:2px solid #e11e22; border-bottom:1px solid #b7b7b7; border-left: 1px solid #ffffff; background-color:#e8e8e8; color:#4c4c4c;font-weight: normal}
.tbl_type42 td{text-align:center; padding:0px 5px 0px 5px; color:#000; height:50px; border-left: 1px solid #ebebeb; border-bottom:1px solid #ebebeb; background-color:#fff;color:#4c4c4c}

/*목록 테이블*/


/*목록 테이블4*/
#container #logincont .contStep02 .contView .tbl_type01 {text-align:center; width:892px; height:236px; border:0px solid #b1b1b1;background-color:#fff; margin-top:0px; margin-bottom:0px; }
#container #logincont .contStep02 .contView .tbl_type02 {text-align:left; width:100%; height:76px; border:0px solid #b1b1b1;background-color:#fff; margin-top:0px; margin-bottom:0px; }



/* paginate 
.paginate{width:300px; height:30px; padding:20px 0px; margin: 0px auto; overflow:hidden; text-align:center; border:0 solid #bbbbbb;}
.paginate a{ padding:0 5px; color:#8f8f8f;display: table-cell; vertical-align: middle; cursor: pointer;}
.paginate .curpage{ color: green; font-weight: bold;}
*/
.paginate{height:40px; margin-top:20px;}
.paginate .numbering {float:right; position:relative; left:-50%;} 
.paginate .numbering li {float:left; position:relative; margin-right:10px; left:50%;}
.paginate .numbering li a {color:#8f8f8f; display: table-cell; vertical-align: middle; cursor: pointer;}
.paginate .numbering li a.curpage{color: green; font-weight: bold;}
/* //paginate */

/* inputbox */
.input01 {width:95px; height:20px; padding:3px 0 0 2px; color:#777878; border:1px solid #bbbbbb; background:#ffffff;}
.input02 {width:208px; height:20px; padding:3px 0 0 2px; color:#777878; border:1px solid #bbbbbb; background:#ffffff;}
.input03 {width:230px; height:20px; padding:3px 0 0 2px; color:#777878; border:1px solid #bbbbbb; background:#ffffff;}
.input04 {width:320px; height:20px; padding:3px 0 0 2px; color:#777878; border:1px solid #bbbbbb; background:#ffffff;}
.input05 {width:450px; height:20px; padding:3px 0 0 2px; color:#777878; border:1px solid #bbbbbb; background:#ffffff;}
/* // inputbox */

/* selectbox  */
.select01 {display:inline; color:#6f6f6f; font-weight:lighter; padding:0 0 0 0;}
.select01 {width:49px; height:20px; background-color:#ffffff; border:1px solid #bbbbbb;}/*박스크기*/
.select02 {display:inline; color:#6f6f6f; font-weight:lighter; padding:0 0 0 0;}
.select02 {width:100px; height:25px; background-color:#ffffff; border:1px solid #bbbbbb;}/*박스크기*/


/* textarea  */
.textarea01 {width:330px; height:60px; border:1px solid #bbbbbb; background:#f5f5f5; overflow:auto; } 
.textarea02 {width:700px; height:200px; padding:10px 10px 10px 10px; margin-top: 10px; margin-bottom: 10px; border:1px solid #bbbbbb; background:#f5f5f5; overflow:auto; } 
/* //textarea */


#fileupload1 { width: 0px; height: 0px; }
#fileupload2 { width: 0px; height: 0px; }

#file1_progress { height: 40px; position: absolute; z-index: 1000; right: 0px; width: 100%; top: -1px; }
#file2_progress { height: 40px; position: absolute; z-index: 1000; right: 0px; width: 100%; top: -1px; }

#fileName1, #fileName2 {
    height: 15px;
    position: absolute;
    width: 80%;
    top: 0px;
    left: 0px;
    padding: 12px 10px;
    z-index: 1001;
}
.btn_cancelUpload { 
	position: absolute;
    z-index: 1001;
    right: 5px;
    top: 7px;
    background: red;
    width: 90px;
    height: 15px;
    text-align: center;
    font-size: 1.2em;
    display: block;
    padding: 5px;
    border-radius: 2px;
    color:white;
}
.btn_uploadfile {
	position: absolute;
    z-index: 1001;
    right: 5px;
    top: 7px;
    background: skyblue;
    width: 90px;
    height: 15px;
    text-align: center;
    font-size: 1.2em;
    display: block;
    padding: 5px;
    border-radius: 2px;
    color:black;
}

.bar { background-color: orange; height: inherit;}


#confirmFileDown,
#confirmComplete,
#confirmDelete,
#confirmExcel,
#confirmLogout {
	/*height: 300px;*/
}

#confirmFileDown div,
#confirmComplete div,
#confirmDelete div,
#confirmExcel div,
#confirmLogout div {
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px auto;
}
#confirmFileDown button,
#confirmComplete button,
#confirmDelete button,
#confirmExcel button,
#confirmLogout button {
	min-width: 80px;
    font-size: 1em;
    font-weight: bold;
    padding: 5px 10px;
}


[data-tooltip-text]:hover {
	position: relative;
}

[data-tooltip-text]:after {
	-webkit-transition: bottom .3s ease-in-out, opacity .3s ease-in-out;
	-moz-transition: bottom .3s ease-in-out, opacity .3s ease-in-out;
	transition: bottom .3s ease-in-out, opacity .3s ease-in-out;

	background-color: rgba(0, 0, 0, 0.8);

  -webkit-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
	-moz-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
	box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
	
  -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
  color: #FFFFFF;
	font-size: 12px;
	margin-bottom: 10px;
	padding: 7px 12px;
	position: absolute;
	width: auto;
	min-width: 100px;
	max-width: 400px;
	word-wrap: break-word;

	z-index: 9999;

	opacity: 0;
	left: -9999px;
    top: 90%;
	
	content: attr(data-tooltip-text);
}

[data-tooltip-text]:hover:after {
	top: 130%;
	left: 0;
	opacity: 1;
}


